#productsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.imgFrame {
    margin: 2px;
    height: 150px;
}

img {
    height: 100%;
}

.product {
    height: 300px;
    border: solid black 0.5px;
    text-align: center;
    transition: background-color 0.5s ease;
    background-color: rgba(255,255,255, 0.8);
    margin: 1px;
    margin-top: 2px;
    width: 100%;

}

.product:hover {
    transition: background-color 0.5s ease;
    background-color: rgba(255, 235, 205, 0.8);
    cursor: pointer;
}